<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <language>fr</language>
  <actionType>view</actionType>
  <owner></owner>
  <geographicalOperator>contains</geographicalOperator>
  <sortMethode>title</sortMethode>
  <sortDirection>asc</sortDirection>  
  <userAuthentification>
    <id></id>
    <secret></secret>
  </userAuthentification>
  <searchs>
    <searchs>
      <Search>
        <name>CurrentSearchSave</name>
        <query>format:arcsde action:view </query>
      </Search>
    </searchs>
  </searchs>
  <proxy>
    <proxyUrl></proxyUrl>
    <proxyUser></proxyUser>
    <proxyPassword></proxyPassword>
  </proxy>
  <emailSupport>support+arcmap@isogeo.fr</emailSupport>
  <emailSubject>Plugin ArcGis Pro - Demande d'aide</emailSubject>
  <emailBody>Bonjour,/nJ'ai une question concernant l'utilisation du plugin Isogeo pour ArcGis Pro.../n/nPour reproduire :/n/n1. Ouvrir ArcGis Pro/n2. Ouvrir le plugin/n3./n/n=&gt; description comportement/n/nVoici les informations de mon environnement de travail :/n/n- Windows : /n- ArcGis Pro : /n- Proxy :    pare-feu :/n- utilisateur administrateur ?</emailBody>
  <urlHelp>https://isogeo.gitbooks.io/app-plugin-arcmap/content/</urlHelp>
  <query>-</query>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
