<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <geographicalOperator></geographicalOperator>
  <sortMethode>_created</sortMethode>
  <sortDirection>desc</sortDirection>
  <defaultSearch></defaultSearch>
  <fileSde></fileSde>
  <userAuthentication>
    <id></id>
    <secret></secret>
  </userAuthentication>
  <searchs>
    <searchs>
      <Search>
        <name></name>
        <query></query>
      </Search>
    </searchs>
  </searchs>
  <proxy>
    <proxyUrl></proxyUrl>
    <proxyUser></proxyUser>
    <proxyPassword></proxyPassword>
  </proxy>
  <apiIdUrl>https://id.api.isogeo.com/</apiIdUrl>
  <apiUrl>https://v1.api.isogeo.com/</apiUrl>
  <appUrl>https://app.isogeo.com/</appUrl>
  <emailSupport>support+arcgispro@isogeo.fr</emailSupport>
  <emailSubject>Plugin ArcGis Pro - Demande d'aide</emailSubject>
  <emailBody>Bonjour,/nJ'ai une question concernant l'utilisation du plugin Isogeo pour ArcGis Pro.../n/nPour reproduire :/n/n1. Ouvrir ArcGis Pro/n2. Ouvrir le plugin/n3./n/n=&gt; description comportement/n/nVoici le comportement souhaité :/n/n/n=&gt; description comportement/n/nLes informations de mon environnement de travail :/n/n- Mon groupe client utilisé / client id : /n- Windows : /n- Version ArcGis Pro : /n- Version du plugin Isogeo ArcGis Pro : /n- Architecture du processeur : /n- Proxy :    pare-feu :/n- utilisateur administrateur ?/n-Autres informations potentiellement utiles/n/nLes captures d'écrans sont en pièces-jointes</emailBody>
  <urlHelp>https://help.isogeo.com/doc-plugin-arcgispro/</urlHelp>
</configuration>