<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <language>fr</language>
  <actionType>view</actionType>
  <owner></owner>
  <geographicalOperator></geographicalOperator>
  <sortMethode>_created</sortMethode>
  <sortDirection>desc</sortDirection>
  <defaultSearch></defaultSearch>
  <userAuthentication>
    <id></id>
    <secret></secret>
  </userAuthentication>
  <searchs>
    <searchs>
      <Search>
        <name></name>
        <query></query>
      </Search>
    </searchs>
  </searchs>
  <proxy>
    <proxyUrl></proxyUrl>
    <proxyUser></proxyUser>
    <proxyPassword></proxyPassword>
  </proxy>
  <apiIdUrl>https://id.api.isogeo.com/</apiIdUrl>
  <apiUrl>https://v1.api.isogeo.com/</apiUrl>
  <emailSupport>support+arcgispro@isogeo.fr</emailSupport>
  <emailSubject>Plugin ArcGis Pro - Demande d'aide</emailSubject>
  <emailBody>Bonjour,/nJ'ai une question concernant l'utilisation du plugin Isogeo pour ArcGis Pro.../n/nPour reproduire :/n/n1. Ouvrir ArcGis Pro/n2. Ouvrir le plugin/n3./n/n=&gt; description comportement/n/nVoici le comportement souhaité :/n/n/n=&gt; description comportement/n/nLes informations de mon environnement de travail :/n/n- Mon groupe client utilisé / client id : /n- Windows : /n- Version ArcGis Pro : /n- Version du plugin Isogeo ArcGis Pro : /n- Architecture du processeur : /n- Proxy :    pare-feu :/n- utilisateur administrateur ?/n-Autres informations potentiellement utiles/n/nLes captures d'écrans sont en pièces-jointes</emailBody>
  <urlHelp>http://help.isogeo.com/arcgispro/fr/</urlHelp>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>